body {
	background-color: black;
	color: seashell;
	font-family: Helvetica, sans-serif;
	opacity: 0.9;
	font-size: 22px;
}

figcaption {
	font-weight: bold;
}

.container {
	margin: 0 5%;
}

header {
	/* position: fixed; */
}

nav {
	height: 69px;
	border-bottom: 1px solid seashell;
}

nav figure img {
	height: 50px;
	float: left;
}

nav ul {
	list-style: none;
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	text-decoration: underline;
	margin-left: 20px;
}

main #hero-box {
	background: url(/resources/img-mission-background.png) no-repeat center;
	background-size: cover;
	height: 700px;
	position: relative;
}

.hero-content {
	background-color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

#Tea-of-the-month {
	text-align: center;
	margin: auto;
	margin-top: 50px;
	width: 1000px;
}

#Tea-of-the-month h2 {
	margin-bottom: 0;
}

#Tea-of-the-month h4 {
	margin-top: 20px;
	margin-bottom: 10px;
}

.image-container {
	margin: 0;
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.image-container figure {
	margin: 15px;
}

.image-container figure > img {
	width: 300px;
	height: 200px;
	margin-bottom: 10px;
}

#locations {
	background: url(/resources/img-locations-background.png) no-repeat center;
	background-size: cover;
	height: 600px;
	margin-top: 50px;
	position: relative;
}

.locations-content {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.locations-content h2 {
	margin-bottom: 0;
}

.card-container {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 15px;
}

.card {
	/* position: absolute; */
	background-color: black;
	width: 300px;
}

:is(.card) :is(h3, p) {
	margin-bottom: 40px;
}

footer section {
	text-align: center;
	height: 200px;
	box-sizing: border-box;
}

footer section h1 {
	margin-top: 10px;
	margin-bottom: 40px;
}

footer p {
	float: left;
	margin-left: 20px;
	font-weight: bold;
	font-size: 18px;
}

footer hr {
	margin-bottom: 0;
}

.details {
	float: right;
}
